.container-fluid-nav div {
    display: flex;
    justify-content: space-around;
}

ul {
    text-align: center;
    list-style: none;
}

a {
    text-align: center;
}

.img {
    width: 80%;
    z-index: 0;
}

.text-over-img {
    z-index: 1;
    font-size: 1.2em margin-top: -100px;
}